/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3255ED;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar a.link {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 1rem;
}

.logo {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0px 40px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* Booking Page Styles */
.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.booking-card {
    display: flex;
    flex-direction: row;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
}

.car-image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

.car-image {
    flex: 1;
}

.booking-form {
    flex: 1;
    padding: 20px;
}

.booking-form h2 {
    font-size: 1.8rem;
    color: #3255ED;
    margin-bottom: 20px;
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.booking-form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.time-slots {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.time-slots label {
    font-size: 1rem;
    margin-bottom: 5px;
    cursor: pointer;
}

.time-slots input {
    margin-right: 10px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #3255ED;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2339b0;
}

.total {
    display: flex;
    flex-direction: row;
}

#membership-tier {
    display: flex;
    flex-direction: row;
}
