/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3255ED;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar a.link{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-size: 1rem;
}

.logo {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0px 40px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* Hero Section */
main {
    padding: 0% 10%;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    color: #555;
}

/* Booking Section */
.booking {
    padding: 50px 20px;
    text-align: center;
}

.booking h1{
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.booking p {
    font-size: 1.2rem;
    color: #555;
}

/* Card Container */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* Card Styles (Horizontal Layout) */
.card {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%; /* Takes 60% of the screen width */
    max-width: 1000px; /* Max width for larger screens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image {
    width: 35%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.card-details {
    width: 65%;
    padding: 0px 30px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-rate, .card-model, .card-time, .card-date {
    color: #555;
    margin-bottom: 10px;
    font-size: 1rem;
}

.btn-view-details {
    background-color: #3255ED;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 1rem;
}

.btn-view-details:hover {
    background-color: #1d3b92;
}